<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyo.mapper.ReservationMapper">
    <select id="getReservationById" parameterType="int" resultType="com.iyo.pojo.Reservation">
        select * from reservations where ReservationID=#{ReserveId}
    </select>
    <select id="getReservationByUserIdAndConfirmed" parameterType="int" resultType="com.iyo.pojo.Reservation">
        select * from reservations where UserID=#{UserID} and IsConfirmed=0
    </select>
    <select id="getReservationByUserId" parameterType="int" resultType="com.iyo.pojo.Reservation">
        select * from reservations where UserID=#{UserID}
    </select>
    <select id="getReservationByRoomId" parameterType="int" resultType="com.iyo.pojo.Reservation">
        select * from reservations where RoomID=#{RoomID}
    </select>
    <select id="getReservationBySeatId" parameterType="int" resultType="com.iyo.pojo.Reservation">
        select * from reservations where SeatID=#{SeatID}
    </select>

    <insert id="addReservations">
        insert into reservations(UserID,SeatID,RoomID,StartTime,IsConfirmed)
        values (#{User.UserID},#{Seat.SeatID},#{Seat.RoomID},NOW(),0)
    </insert>
    <update id="deleteReservations" parameterType="com.iyo.pojo.Reservation">
        update reservations set EndTime=NOW(),IsConfirmed=1 where ReservationID=#{ReservationID}
    </update>
</mapper>
