<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyo.mapper.RoomMapper">
    <select id="getRoomAll" resultType="Room">
        select * from room
    </select>
    <select id="getRoomByID" parameterType="int" resultType="Room">
        select * from room where RoomID = #{RoomID}
    </select>
    <insert id="addRoom" parameterType="Room">
        insert into room(RoomName,Capacity,CurrentOccupancy,RoomRow)
        values (#{RoomName},#{Capacity},#{CurrentOccupancy},#{RoomRow})
    </insert>
    <update id="updateRoom" parameterType="Room">
        update room set RoomName=#{RoomName},Capacity=#{Capacity},
        CurrentOccupancy=#{CurrentOccupancy},RoomRow=#{RoomRow}
        where RoomID=#{RoomID}
    </update>
    <update id="updateRoomOccupancy">
        update room set CurrentOccupancy=(#{Room.CurrentOccupancy}+#{Num}) where RoomID=#{Room.RoomID}
    </update>
    <delete id="deleteRoom" parameterType="int">
        delete from room where RoomID = #{roomId}
    </delete>
</mapper>
